.container
{
	width: 1922px;
	height: 947px;
	background: black;
	margin: 0 auto;
	margin-top:-10px;
	margin-left: -10px;
}
.text2
{
	color:red;
	font-size: 25px;
}
.block
{
	width: 100%;
	height:30%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
@media screen and (min-width:390px) and (max-width:1200px)
{
	.image
	{
		width: 350px;
	}
	.container
	{
		width: 990px;
	}
}