*
{
	font-family: Jura;
}
.container
{
	width: 1280px;
	margin: 0 auto;
}
.text
{
	font-size: 25px;
}
.block
{
	width: 320px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: 300px;
}
.footer
{
	width: 100%;
	height: 50px;
	background: #E5E5E5;
	display: flex;
	justify-content: center;
	align-items: center;
}
.img
{
	width: 600px;
}
.text_foot
{
	font-size: 30px;
}
@media screen and (min-width:390px) and (max-width: 1200px)
{
	.container
	{
		width: 800px;
	}
	.text
	{
		font-size:20px;
	}
	.text_img
	{
		font-size:15px;
	}
	.text_foot
	{
		font-size:20px;
	}
	.img
	{
		width: 500px;
	}
	.title
	{
		font-size:20px;
	}
	.block
	{
		margin-left: 300px;
	}
}
